/* Global styles */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  font-family: sans-serif;
  user-select: none;

  cursor: pointer;
}

p {
  margin: 0.5em;
}

/* Fullscreen layers */

#canvas-container,
#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas-container {
  z-index: 10;
}

/* Menu */

.menu {
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
}

#menu {
  z-index: 30;
  display: none;
}

.button {
  /* only extra color on top of menu*/
  background-color: rgba(110, 110, 110, 0.2);

  border: none;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 300px;
  padding: 1.5em 2em;
  margin: 0.5em 0;
  font-size: 1.2em;

  &:hover {
    background-color: rgba(150, 150, 150, 0.2);
    cursor: pointer;
  }
}

.menu-spacer {
  height: 2em;
}
